table {
  width: 1000px;
  font-size: 30px;
  border-spacing: 0px;
}

.styling1 {
  width: 500px;
  height: 70px;
  text-align: center;
  background-color: #a0effb;
}

.styling2 {
  height: 70px;
  text-align: center;
  background-color: #a6ddaf;
}

.styling3 {
  height: 140px;
  text-align: center;
  background-color: #f3c9e9;
}

.styling4 {
  height: 70px;
  background-color: #f3c9e9;
}

.styling5 {
  text-align: center;
  background-color: #d5bb8b;
}

.styling6 {
  background-color: #a6ddaf;
}

.styling7 {
  text-align: center;
  background-color: #e8cb8d;
}

.styling8 {
  text-align: center;
  background-color: #e7e88d;
}